# Ignorer l'environnement virtuel
venv/

# Ignorer les fichiers compilés Python
*.pyc
__pycache__/

# Ignorer les configurations de l'éditeur de code
.vscode/
.idea/
# Exclude Python virtual environments
venv/

# Exclude compiled Python files
__pycache__/
*.pyc

